*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: #f5f5f5;
}
li{
    list-style: none;
 
}
@media(max-width: 580px){
   li{
    display: none;
   }
}
.header{
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff; 
    
}
.header a{
    color: #fff;
    text-decoration: none;
    }
.header a:hover{
    color: #ccc;
    }
.menu{
    display: inline;
    text-decoration: none;
    padding: 10px;
}

.logo .logo{
    justify-content: left;
    align-items: center;
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 50%;   
}
.logo{
    text-decoration: none;    
}
.icon-menu .icon-menu{
    justify-content:center;
    align-items: center;
    height: 50px;
    width: 50px;
    margin: 10px;
}
.barramenu{
    display: flex;
}
.barra-menu{
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: static;
    top: 0%;
    left: 0%;

}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-list, h1{
    text-align: center;
    padding: 20px;
    margin: 20px;

}
.banner{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
    border-radius: 10px;
    box-shadow: #333;
    margin: 20px;
}
h1{
    font-size: 40px;
    color: #333;
}
.serviços-list{
   display: inline-block;
   align-items: center;
   justify-content: center;
}
.serviços{
    height: 70vh;
    width: 70vh;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
h2{
    font-size: 30px;
    color:  #333;
}
@media(max-width: 580px){
    h2{
        font-size: 20px;
        text-align: center;
    }
}
img{
    box-shadow: 5px #333;
    border-radius: 10px ;
}
.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
}
label , input, button {
    margin: 50px;
    font-size: 20px;
    font-weight: bold;
    text-decoration:none ;
    font-family: sans-serif;
    color: rgb(104, 112, 107);
}
fieldset{
    border: solid rgb(138, 134, 134);
}
button{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 3px 4px gray;
}
@media(max-width: 580px){
    label , input, button, fieldset{
        font-size: 20px;
        width: 70px;
    }
}
.rodape{
    background-color:grey;
    padding: 20px;
    margin: 10px;
    

}
.rodape-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.icon-rodape{
    height: 30px;
    width: 30px;
}







